.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80%;
    height: 80%;
    margin: auto;
    font-size: x-large;
}

.row {
    display: flex;
    align-items: center;
    gap: 50px;
}

.linksContainer {
    margin-top: 20px;
}

.links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.links:hover {
    color: red;
    transition: color 0.5s;
    font-size: xx-large;
    cursor: pointer;
}

#name {
    color: yellow;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .main {
        width: 95%;
    }

    .linksContainer {
        flex-direction: column;
        align-items: center;
    }

    #name {
        margin-top: 5px;
    }
}