.main {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    height: 95%;
    padding: 20px;
    gap: 80px;
    color: white;
}

.projectList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: x-large;
    font-weight: bold;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.projectTitle:hover {
    color: yellow;
    font-size: xx-large;
    cursor: pointer;
    transition: color 0.5s;
}

.selected {
    color: yellow;
    font-size: xx-large;
}

.arrow:hover {
    cursor: pointer;
}

.screenshots {
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
    gap: 40px;
}

.title {
    color: rgba(235, 168, 255, 0.836);
    font-size: x-large;
}

#header {
    color: yellow;
}

@media (max-width: 900px) {
    .main {
        width: 90%;
    }
}