.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    height: 95%;
    padding: 20px;
    gap: 100px;
    color: white;
}

.projectList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 180px;
    gap: 20px;
    font-size: x-large;
    font-weight: bold;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.projectTitle:hover {
    color: yellow;
    font-size: xx-large;
    cursor: pointer;
    transition: color 0.5s;
}

.selected {
    color: yellow;
    font-size: xx-large;
}

.arrow:hover {
    cursor: pointer;
}

.screenshots {
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    border: 1px solid white;
    gap: 40px;
}

.title {
    color: rgba(235, 168, 255, 0.836);
    font-size: x-large;
}

#header {
    color: yellow;
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    .projectList {
        flex-direction: row;
        gap: 50px;
    }
    .projectDescription {
        width: 90%;
    }
}